<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>UniqueDeviceID</key>
		<string>61746554a1170804a41d1e176c72d22942cce2bc</string>
		<key>UniqueDeviceIDData</key>
		<true/>
		<key>SerialNumber</key>
		<string>GGKXV083JC6F</string>
	</dict>
</plist>
